#costumers {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#costumers td,
#costumers th {
    border: 1px solid #ddd;
    padding: 8px;
}
#costumers tr:nth-child(even) {
    background-color: #f2f2f2;
}
#costumers tr:hover {
    background-color: #4caf50
}
#costumers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4caf50;
    color: white;
}